	<script src="assets/js/script.js"></script>
	<script type="text/javascript">
		if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
			document.documentElement.setAttribute('data-theme', 'dark');
			document.getElementById('mode-switcher').classList.add('active');
		}
	</script>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LPPMB7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<a href="{{ site.url }}/{{ post.url }}#" class="back-to-top" id="backToTop" onclick="scrollToTop()">Back to Top</a>
	<div class="footer">
</body>
</html>